<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Version 1.0.0
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2019 <a href="http://noname.com/">The Badu's</a>.</strong> All rights reserved.
  </footer>