  <header class="main-header">
    <!-- Logo -->
    <a ui-sref="dashboard" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>AIS</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>AIS</b></span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Notifications Menu -->
          <li class="dropdown notifications-menu">
            <!-- Menu toggle button -->
            <a href="javascript:void(0)" class="dropdown-toggle ng-hide" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- Inner Menu: contains the notifications -->
                <ul class="menu">
                  <li><!-- start notification -->
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <!-- end notification -->
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a ui-sref="account-profile({state: 'account-profile'})" class="dropdown-toggle">
              <!-- The user image in the navbar-->
              <%if (user_info.gender == 1) { %>
                <img src="/bower_components/admin-lte/dist/img/avatar5.png" class="user-image" alt="User Image">
              <% } else { %>
                <img src="/bower_components/admin-lte/dist/img/avatar2.png" class="user-image" alt="User Image">
              <% } %>
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs"><%= user_info.full_name %></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>