<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="AccountUserController as vm" ng-init="vm.create()">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Tambah/Ubah
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="account-user"><i class="fa fa-dashboard"></i> List User </a></li>
            <li class="active">Detail</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <!-- left column -->
        <!-- general form elements -->
        <div class="box box-primary">
            <!-- form start -->
            <form role="form" name="myForm" ng-submit="myForm.$valid && vm.submit()">
                <div class="box-body">
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="exampleInputEmail1">Full Name*</label>
                            <input type="text" required class="form-control" id="name" name="name" ng-model="vm.data.full_name" placeholder="Enter Name" value>
                        </div>
                        <div class="form-group col-sm-12">
                            <label>Gender*</label>
                            <select class="form-control select2" id="gender" name="gender" ng-model="vm.data.gender" ng-select2 placeholder="Select Gender" required>
                                <option></option>
                                <option ng-repeat="x in vm.genders" value="{{ (x.id) }}">{{ x.name }}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12">
                            <label>Role Type*</label>
                            <select class="form-control select2" id="role_id" name="role_id" ng-model="vm.data.role_type" ng-select2 placeholder="Select Role Type" required>
                                <option></option>
                                <option ng-repeat="x in vm.roletypes" value="{{ (x.code) }}">{{ x.name }}</option>
                            </select>
                        </div>
                        <div>
                            <div class="form-group col-sm-12">
                                <label>Alamat</label>
                                <textarea class="form-control" id="address" rows="3" placeholder="Enter Address ..." ng-model="vm.data.address"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="exampleInputEmail1">Username*</label>
                            <input type="text" required class="form-control" id="username" ng-model="vm.data.username" placeholder="Enter Username">
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="exampleInputEmail1">Email*</label>
                            <input type="email" required class="form-control" id="email" ng-model="vm.data.email" placeholder="Enter Email">
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="exampleInputPassword">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter Password" ng-model="vm.data.password" minlength="6">
                        </div>
                    </div>
                    <!-- ./row -->
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" ng-click="user">Batal</button>
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </div>
            </form>
            <div box-overlay is-loading="vm.ls.get('loading').get()"></div>            
        </div>
        <!-- /.box -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->