<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div>
            <div>Your password has been reset</div>
            <h1>Hi {{ $user->username }}.</h1>
            <div><br></div>
            <div>anda baru saja melakukan permintaan reset password, silakan log in mengunakan password baru anda</div>
            <div><br></div>
            <div>Username: {{ $user->username }}</div>
            <div>Email: {{ $user->email }}</div>
            <div>password baru: {{ $password }}</div>
            <div><br></div>
            <div>"jika anda tidak menyadari aktifitas ini, kemungkinan seseorang telah menyalah gunakan akun anda. segera hubungi admin untuk bantuan."</div>
            <div><br></div>
            <div>Terima Kasih</div>
        </div>
    </body>
</html>